* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  scrollbar-width: none;
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  overflow: hidden;
  font-family: Suisseintl, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: $color-black;
  color: $color-white--transparent-small;
}

svg {
  display: block;
}
button {
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#skip-nav {
  position: relative;
  z-index: 100;
  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: $color-white;
    white-space: nowrap;
    background-color: #333;
    &:focus {
      top: 0;
    }
  }
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.common-inner {
  position: relative;
  max-width: 2000px;
  padding: 0 $gutter-desktop;
  margin: 0 auto;
  @include mobile {
    padding: 0 $gutter-tablet;
  }
  @include mobile-small {
    padding: 0 $gutter-mobile;
  }
}

.common-title {
  max-width: 540px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.04em;
  @include tablet {
    font-size: 40px;
  }
  @include mobile-small {
    max-width: 90%;
  }
}

.common-scroll-move {
  &__container {
    display: flex;
    align-items: center;
  }
  &__wrapper {
    width: 100%;
    transform: translate(416.633px, 0px);
  }
  & {
    flex: none;
    display: flex;
    align-items: center;
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition-duration: 7s;
  }
  &__text {
    &-wrap {
      flex: none;
      margin-bottom: -0.05em;
      padding-right: 10vw;
      font-size: 14vw;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.05em;
      white-space: nowrap;
      transform: translate(-100%);
      animation-name: scroll-move;
      animation-duration: calc(1s * 16.3468);
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @include tablet {
        font-size: 140px;
      }
      @include mobile-small {
        font-size: 120px;
      }
    }
    & {
      display: inline-block;
      margin: -0.15em -0.5em;
      overflow-y: hidden;
      vertical-align: top;
    }
    &-inner {
      display: inline-block;
      padding: 0.15em 0.5em;
      transform: translateY(0%) scaleY(1);
      transition-duration: 2s;
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-property: opacity, transform;
    }
  }
}
@keyframes scroll-move {
  0% {
    transform: translate(-100%, 0px);
  }

  100% {
    transform: translate(-200%, 0px);
  }
}
.common-paragraph {
  &__title {
    display: inline-block;
    margin-right: 8em;
    font-size: 16px;
    line-height: 1;
    @include mobile {
      margin-right: 4em;
    }
  }
  &__description {
    display: inline;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.015em;
    @include tablet {
      font-size: 40px;
    }
    @include mobile-small {
      font-size: 30px;
    }
  }
}
.common-video {
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    &-btn {
      width: 90px;
      height: 90px;
      backdrop-filter: blur(20px);
      border-radius: 50%;
      background-color: rgba(219, 219, 219, .25);
      background-image: url("../images/icon-play-black.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 18px;
      transition: all .2s cubic-bezier(.165,.84,.44,1);
      @include tablet {
        width: 80px;
        height: 80px;
      }
      &:hover {
        width: 130px;
        height: 130px;
        background-color: $color-white;
      }
    }
  }
  &__controls {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
    display: flex;
    align-items: center;
    column-gap: 10px;
    @include mobile-small {
      top: $gutter-mobile;
      right: $gutter-mobile;
    }
  }
  &__control {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    backdrop-filter: brightness(150%) blur(30px);
    background-color: rgba(219, 219, 219, .25);
    transition: all .2s cubic-bezier(.165,.84,.44,1);
    &:hover {
      width: 80px;
      height: 80px;
      margin: -5px;
      background-color: $color-white;
    }
    @include mobile {
      width: 40px;
      height: 40px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 20px;
      transition: all .3s cubic-bezier(.455,.03,.515,.955);
      @include mobile-small {
        width: 16px;
      }
    }
    &--audio {
      position: relative;
      img {
        &[data-audio-status="off"] {
          opacity: 0;
          pointer-events: none;
        }
        &[data-audio-status="on"] {
          opacity: 1;
          pointer-events: auto;
        }
      }
      &.is-active {
        img {
          &[data-audio-status="off"] {
            opacity: 1;
            pointer-events: auto;
          }
          &[data-audio-status="on"] {
            opacity: 0;
            pointer-events: none;
          }
        }
      } 
    }
  }
}