* {
  box-sizing: border-box;
}

html,
body {
  // overflow-x: hidden;
}

html {
  text-size-adjust: 100%;
  scrollbar-width: none;
}

body {
  font-family: Suisseintl, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $color-white--transparent-small;
  background-color: $color-black;
  &.is-load {
    overflow-y: hidden;
    touch-action: none;
    cursor: wait;
  }
  @include tablet {
    &.is-nav-open {
      overflow-y: hidden;
      touch-action: none;
    }
  }
}

::selection {
  color: $color-white;
  background-color: #1d4f62;
}

::-webkit-scrollbar {
  display: none;
}

svg {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none;
}

#skip-nav {
  position: relative;
  z-index: $z-index--skip-nav;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: $color-white;
    white-space: nowrap;
    background-color: #333;

    &:focus {
      top: 0;
    }
  }
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.common-inner {
  position: relative;
  max-width: 2000px;
  padding: 0 $gutter-desktop;
  margin: 0 auto;

  @include mobile {
    padding: 0 $gutter-tablet;
  }

  @include mobile-small {
    padding: 0 $gutter-mobile;
  }
}

.common-title {
  max-width: 540px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.04em;

  @include tablet {
    font-size: 40px;
  }

  @include mobile-small {
    max-width: 90%;
  }
}

.letter-wrapper {
  display: inline-block;
  margin: -0.15em -0.5em;
  vertical-align: top;
  overflow: hidden;
  span {
    display: inline-block;
    padding: 0.15em 0.5em;
  }
}

.cursor {
  position: fixed;
  z-index: $z-index--cursor;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;

  @media (hover: none) {
    display: none;
  }

  &__pointer {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    transition: all .2s cubic-bezier(.455, .03, .515, .955);

    .cursor.is-hover & {
      width: 90px;
      height: 90px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index--overlay;
  opacity: .04;
  pointer-events: none;
  background-image: url("../images/overlay.gif");
  background-size: 480px;
  background-attachment: fixed;
}