@mixin common-section-gap {
  padding-top: $gap-desktop;
  @media screen and (max-width: 991px) {
    padding-top: $gap-tablet;
  }
  @media screen and (max-width: 479px) {
    padding-top: $gap-mobile;
  }
}

// media query
@mixin table-larget {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 479px) {
    @content;
  }
}