// gap
$gap-desktop: 150px;
$gap-tablet: 130px;
$gap-mobile: 100px;

// gutter
$gutter-desktop: 60px;
$gutter-tablet: 40px;
$gutter-mobile: 6vw;

// color
$color-primary: #1f1f1f;
$color-black: #000;
$color-gray: #9d9d9d;
$color-white: #fff;
$color-white--transparent-small: rgba(255, 255, 255, .96);
$color-white--transparent-medium: rgba(255, 255, 255, .2);
$color-white--transparent-large: rgba(255, 255, 255, .12);

// border-radius
$border-radius--card: 4px;
$border-radius--video: 16px;

// z-index
$z-index--header: 10;
$z-index--loading: 20;
$z-index--cursor: 30;
$z-index--overlay: 40;
$z-index--skip-nav: 50;