.footer {
  padding-top: 80px;
  background-color: $color-primary;
  .common-inner {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
    }
    & + & {
      @include common-section-gap;
    }
  }
  &__logo {
    @media screen and (min-width: 768px) and (max-width: 991px) {
      display: none;
    }
  }
  &__nav {
    @include tablet {
      flex-basis: 100%;
    }
    @include mobile {
      padding-top: 60px;
    }
  }
  @at-root .footer-nav {
    display: flex;
    gap: 9vw;
    @include tablet {
      gap: 0;
    }
    @include mobile {
      flex-direction: column;
    }
    &__column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include tablet {
        flex: 1;
      }
      @include mobile {
        gap: normal;
        &.is-open {
          padding-bottom: 20px;
        }
        & + & {
          border-top: 1px solid $color-white--transparent-medium;
        }
      }
    }
    &__header {
      @include mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
      }
    }
    &__title {
      display: inline-block;
      padding: 0.15em 0;
      font-weight: 500;
      line-height: 1.1;
    }
    &__arrow {
      display: none;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $color-white--transparent-medium;
      @include mobile {
        display: flex;
      }
      svg {
        transition: transform .6s cubic-bezier(.165,.84,.44,1);
        .footer__nav.is-open & {
          transform: scaleY(-1);
        }
      }
    }
    &__list {
      @include mobile {
        display: none;
      }
    }
    &__item {
      padding: 0.15em 0.5em;
    }
    &__link {
      display: inline-block;
      padding: 4px 0;
      margin: -0.15em -0.5em;
      .footer-nav__list:hover &:not(:hover) {
        color: $color-gray;
      }
      @include mobile {
        padding: 6px 0;
      }
    }
  }
  @at-root {
    .copyright {
      color: $color-gray;
      cursor: default;
    }
    .corporation {
      &__list {
        display: flex;
        gap: 40px;
      }
      &__link {
        color: $color-gray;
        &:hover {
          color: $color-white--transparent-small;
        }
      }
    }
  }
  &__contact {
    display: block;
    padding-top: 0.3em;
    font-size: 18vw;
    &:hover {
      text-stroke: 1px $color-white--transparent-small;
      -webkit-text-stroke: 1px $color-white--transparent-small;
      color: transparent;
    }
  }
}