.footer {
  padding-top: 80px;
  background-color: $color-primary;
  .common-inner {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
    }
    & + & {
      @include common-section-gap;
      @media (min-height: 950px) {
        padding-top: 200px;
      }
      @include mobile {
        flex-direction: row;
      }
    }
  }
  &__logo {
    @media screen and (min-width: 768px) and (max-width: 991px) {
      display: none;
    }
  }
  &__nav {
    @include tablet {
      flex-basis: 100%;
    }
    @include mobile {
      padding-top: 60px;
    }
  }
  @at-root .footer-nav {
    display: flex;
    gap: 9vw;
    @include tablet {
      gap: 0;
    }
    @include mobile {
      flex-direction: column;
    }
    &__column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include tablet {
        flex: 1;
      }
      @include mobile {
        gap: normal;
        &.is-active {
          padding-bottom: 20px;
        }
        & + & {
          border-top: 1px solid $color-white--transparent-medium;
        }
      }
    }
    &__header {
      pointer-events: none;
      @include mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        pointer-events: auto;
      }
    }
    &__title {
      display: inline-block;
      padding: 0.15em 0;
      font-weight: 500;
      line-height: 1.1;
    }
    &__arrow {
      display: none;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $color-white--transparent-medium;
      @include mobile {
        display: flex;
      }
      svg {
        transition: transform .6s cubic-bezier(.165,.84,.44,1);
        .footer-nav__column.is-active & {
          transform: scaleY(-1);
        }
      }
    }
    &__list {
      @include mobile {
        display: none;
        .footer-nav__column.is-active & {
          display: block;
        }
      }
    }
    &__item {
      padding: 0.15em 0.5em;
      overflow: hidden;
    }
    &__link {
      padding: 4px 0;
      @include hover {
        .footer-nav__list:hover &:not(:hover) {
          color: $color-gray;
        }
      }
      @include mobile {
        padding: 6px 0;
      }
      .letter-wrapper span {
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-property: transform;
      }
    }
  }
  @at-root {
    .copyright {
      color: $color-gray;
      cursor: default;
    }
    .corporation {
      &__list {
        display: flex;
        gap: 40px;
        @include mobile-small {
          gap: 10px;
        }
      }
      &__link {
        color: $color-gray;
        @include hover {
          &:hover {
            color: $color-white--transparent-small;
          }
        }
      }
    }
  }
  &__contact {
    display: flex;
    padding-top: 0.3em;
    overflow: hidden;
    @include hover {
      &:hover {
        text-stroke: 1px $color-white--transparent-small;
        -webkit-text-stroke: 1px $color-white--transparent-small;
        color: transparent;
      }
    }
    .marquee__texts {
      animation-duration: 20s;
      white-space: nowrap;
      margin-top: -0.3em;
      margin-bottom: -0.15em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      transform: translate(-100%);
    }
    .marquee__text {
      font-size: 18vw;
      @include tablet {
        font-size: 25vw;
      }
      @include mobile {
        font-size: 30vw;
      }
    }
  }
}