/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { overflow-x: hidden; }

html { scrollbar-width: none; font-family: sans-serif; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; }

body { overflow: hidden; font-family: Suisseintl, sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; background-color: #000; color: rgba(255, 255, 255, 0.96); }

svg { display: block; }

button { cursor: pointer; }

iframe { width: 100%; height: 100%; border: none; }

#skip-nav { position: relative; z-index: 100; }

#skip-nav a { position: absolute; top: -30px; left: 0; width: 300px; background: #333; text-align: center; padding: 2px 6px 0 0; font-size: 13px; line-height: 26px; color: #fff; white-space: nowrap; }

#skip-nav a:focus { top: 0; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

.common-inner { position: relative; max-width: 2000px; padding: 0 60px; margin: 0 auto; }

.common-display-mo { display: none !important; }

.common-headline { width: 540px; font-size: 50px; font-weight: 500; line-height: 1; letter-spacing: -.04em; }

.common-scroll-move__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.common-scroll-move__wrapper { width: 100%; -webkit-transform: translate(416.633px, 0px); transform: translate(416.633px, 0px); }

.common-scroll-move { -webkit-box-flex: 0; -ms-flex: none; flex: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.23, 1, 0.32, 1); transition: -webkit-transform 1.5s cubic-bezier(0.23, 1, 0.32, 1); transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1); transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1.5s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition-duration: 7s; transition-duration: 7s; }

.common-scroll-move__text-wrap { -webkit-box-flex: 0; -ms-flex: none; flex: none; margin-bottom: -0.05em; padding-right: 10vw; font-size: 14vw; font-weight: 500; line-height: 1; letter-spacing: -0.05em; white-space: nowrap; -webkit-transform: translate(-100%); transform: translate(-100%); -webkit-animation-name: scroll-move; animation-name: scroll-move; -webkit-animation-duration: calc(1s * 16.3468); animation-duration: calc(1s * 16.3468); -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: linear; animation-timing-function: linear; }

.common-scroll-move__text { display: inline-block; margin: -0.15em -0.5em; overflow-y: hidden; vertical-align: top; }

.common-scroll-move__text-inner { display: inline-block; padding: 0.15em 0.5em; -webkit-transform: translateY(0%) scaleY(1); transform: translateY(0%) scaleY(1); -webkit-transition-duration: 2s; transition-duration: 2s; -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition-property: opacity, -webkit-transform; transition-property: opacity, -webkit-transform; transition-property: opacity, transform; transition-property: opacity, transform, -webkit-transform; }

@-webkit-keyframes scroll-move { 0% { -webkit-transform: translate(-100%, 0px); transform: translate(-100%, 0px); }
  100% { -webkit-transform: translate(-200%, 0px); transform: translate(-200%, 0px); } }

@keyframes scroll-move { 0% { -webkit-transform: translate(-100%, 0px); transform: translate(-100%, 0px); }
  100% { -webkit-transform: translate(-200%, 0px); transform: translate(-200%, 0px); } }

.common-paragraph__title { display: inline-block; margin-right: 8em; font-size: 16px; line-height: 1; }

.common-paragraph__description { display: inline; font-size: 4vw; font-weight: 300; line-height: 1.25; letter-spacing: -0.015em; }

.common-video__play { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 300px; height: 300px; }

.common-video__play-btn { width: 90px; height: 90px; -webkit-backdrop-filter: blur(20px); backdrop-filter: blur(20px); border-radius: 50%; background-color: rgba(219, 219, 219, 0.25); background-image: url("/assets/images/icon-play-black.svg"); background-repeat: no-repeat; background-position: center; background-size: 16px 18px; -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.common-video__play-btn:hover { width: 130px; height: 130px; background-color: #fff; }

.common-video__controls { position: absolute; top: 30px; right: 30px; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 10px; column-gap: 10px; }

.common-video__control { display: block; width: 70px; height: 70px; border-radius: 50%; -webkit-backdrop-filter: brightness(150%) blur(30px); backdrop-filter: brightness(150%) blur(30px); background-color: rgba(219, 219, 219, 0.25); -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.common-video__control:hover { width: 80px; height: 80px; margin: -5px; background-color: #fff; }

.common-video__control img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 25px; height: 20px; -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.common-video__control--audio { position: relative; }

.common-video__control--audio img[data-audio-status="off"] { opacity: 0; pointer-events: none; }

.common-video__control--audio img[data-audio-status="on"] { opacity: 1; pointer-events: auto; }

.common-video__control--audio.is-active img[data-audio-status="off"] { opacity: 1; pointer-events: auto; }

.common-video__control--audio.is-active img[data-audio-status="on"] { opacity: 0; pointer-events: none; }

@font-face { font-family: 'Migha'; src: url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14b03f_MighaBold.woff2") format("woff2"), url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14b040_MighaBold.woff") format("woff"), url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14b03b_MighaBold.ttf") format("truetype"); font-weight: 700; font-style: normal; font-display: block; }

@font-face { font-family: 'Migha'; src: url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14b03c_MighaBoldItalic.woff2") format("woff2"), url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14b03d_MighaBoldItalic.woff") format("woff"), url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14b03e_MighaBoldItalic.ttf") format("truetype"); font-weight: 700; font-style: italic; font-display: block; }

@font-face { font-family: 'Suisseintl'; src: url("../fonts/651d15fb8f27f4a03c14afae_SuisseIntl-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Suisseintl'; src: url("../fonts/651d15fb8f27f4a03c14afaa_SuisseIntl-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Suisseintl'; src: url("../fonts/651d15fb8f27f4a03c14afac_SuisseIntl-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Asap'; src: url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/6523c65538fa56e6b4b99ba7_Asap-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Roboto Mono'; src: url("https://assets.website-files.com/651d15fb8f27f4a03c14ae88/6523c6de1cba76b00c5bafcf_RobotoMono-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; font-display: swap; }

.header { position: fixed; top: 0; left: 0; z-index: 9; width: 100%; }

.header__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100px; }

.header__logo { position: relative; z-index: 1; }

.global-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.global-nav__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 30px; column-gap: 30px; }

.global-nav__list--lang { -webkit-column-gap: 8px; column-gap: 8px; }

.global-nav__list--lang .global-nav__link--de .global-nav__link-text { opacity: 0.4; }

.global-nav__list + .global-nav__list { padding-left: 60px; }

.global-nav__link { position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; }

.global-nav__link-text { -webkit-transform: translate(0); transform: translate(0); font-weight: 500; -webkit-transition: opacity 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99); transition: opacity 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99); transition: opacity 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99); transition: opacity 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99); }

.global-nav__link-text[aria-hidden="true"] { position: absolute; top: 100%; left: 0; }

.global-nav__link:hover .global-nav__link-text { opacity: 0.75; -webkit-transform: translateY(-100%); transform: translateY(-100%); }

.global-nav__item--expertise .global-nav__link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 8px; column-gap: 8px; }

.global-nav__item--expertise .global-nav__link-icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 18px; height: 18px; background-color: rgba(255, 255, 255, 0.2); border-radius: 50px; }

.global-nav__item--expertise .global-nav__link-icon svg { -webkit-transform: scale3d(1none, 1none, 1none); transform: scale3d(1none, 1none, 1none); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.6s; transition: -webkit-transform 0.6s; transition: transform 0.6s; transition: transform 0.6s, -webkit-transform 0.6s; }

.global-nav__item--expertise .global-nav__link:hover .global-nav__link-text { -webkit-transform: none; transform: none; }

.global-nav__item--expertise .global-nav__link:hover .global-nav__link-icon svg { -webkit-transform: scaleY(-1); transform: scaleY(-1); }

.local-nav-wrap { position: fixed; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; }

.expertise-open .local-nav-wrap { pointer-events: auto; }

.local-nav { position: absolute; top: 0; left: 0; width: 100%; height: 0; overflow: hidden; background-color: #171719; -webkit-transition: height 1s cubic-bezier(0.23, 1, 0.32, 1); transition: height 1s cubic-bezier(0.23, 1, 0.32, 1); }

.expertise-open .local-nav { height: 430px; }

.local-nav__inner { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; height: 330px; border-top: 1px solid rgba(255, 255, 255, 0.2); margin-top: 100px; padding-top: 40px; }

.local-nav__inner .local-nav__title, .local-nav__inner .local-nav__link, .local-nav__inner .local-nav__thumbnail-list { opacity: 0; -webkit-transform: translateY(100px); transform: translateY(100px); -webkit-transition-timing-function: cubic-bezier(0.59, 0.12, 0.85, 0.33); transition-timing-function: cubic-bezier(0.59, 0.12, 0.85, 0.33); -webkit-transition-duration: 0.6s; transition-duration: 0.6s; }

.expertise-open .local-nav__inner .local-nav__title, .expertise-open .local-nav__inner .local-nav__link, .expertise-open .local-nav__inner .local-nav__thumbnail-list { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition-duration: 1s; transition-duration: 1s; }

.local-nav__title { display: block; width: 25%; font-weight: 500; }

.local-nav__list { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.local-nav .local-nav__item:nth-child(1) .local-nav__link { -webkit-transition-delay: calc(0.05s * 0); transition-delay: calc(0.05s * 0); }

.local-nav .local-nav__item:nth-child(2) .local-nav__link { -webkit-transition-delay: calc(0.05s * 1); transition-delay: calc(0.05s * 1); }

.local-nav .local-nav__item:nth-child(3) .local-nav__link { -webkit-transition-delay: calc(0.05s * 2); transition-delay: calc(0.05s * 2); }

.local-nav .local-nav__item:nth-child(4) .local-nav__link { -webkit-transition-delay: calc(0.05s * 3); transition-delay: calc(0.05s * 3); }

.local-nav .local-nav__item:nth-child(5) .local-nav__link { -webkit-transition-delay: calc(0.05s * 4); transition-delay: calc(0.05s * 4); }

.local-nav__link { display: block; position: relative; width: 100%; letter-spacing: -0.03em; font-size: 36px; font-weight: 500; line-height: 1.15; -webkit-transition: color 0.2s, opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); transition: color 0.2s, opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); transition: color 0.2s, transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1); transition: color 0.2s, transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }

.local-nav__list:hover .local-nav__link { color: rgba(255, 255, 255, 0.2); -webkit-transition-delay: 0s; transition-delay: 0s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }

.local-nav__list:hover .local-nav__link:hover { color: #fff; }

.local-nav__thumbnail-list { position: absolute; top: -5%; bottom: 0; right: 0; z-index: 5; width: 45%; -webkit-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s cubic-bezier(0.23, 1, 0.32, 1); transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }

.local-nav__thumbnail-item img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; opacity: 0; -o-object-fit: contain; object-fit: contain; -o-object-position: 50% 0%; object-position: 50% 0%; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.local-nav__thumbnail-item.is-visible img { opacity: 1; }

.section-visual { height: 200svh; }

.section-visual__canvas-area { position: -webkit-sticky; position: sticky; top: 0; left: 0; width: 100%; height: 100vh; }

.section-visual__canvas { position: relative; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-visual__slogan { position: absolute; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; overflow: hidden; width: 100%; height: 100svh; }

.section-visual__slogan .common-inner { width: 100%; padding-bottom: 60px; }

.section-visual__slogan-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; margin: 0 auto 2vw; }

.section-visual__slogan-item { margin: -0.15em -0.5em; }

.section-visual__slogan-text { display: block; padding: 0.15em 0.5em; font-size: 14px; font-weight: 500; line-height: 1; letter-spacing: -0.03em; }

.overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 300; opacity: 0.04; pointer-events: none; background-image: url("/assets/images/overlay.gif"); background-size: 480px; background-attachment: fixed; }

.section-work__card-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 16px; padding-top: 150px; }

.section-work__card-item { width: calc((100% - 48px) / 4); }

.section-work__card-link { position: relative; display: block; }

.section-work__card-thumbnail { position: relative; z-index: 1; overflow: hidden; padding-top: 149%; border-radius: 4px; border: 1px solid #000; background-color: rgba(255, 255, 255, 0.12); }

.section-work__card-thumbnail img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); transition: opacity 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }

.section-work__card-link:hover .section-work__card-thumbnail img { -webkit-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05); }

.section-work__card-cover { position: absolute; top: 0; left: 0; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; -webkit-transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }

.section-work__card-link:hover .section-work__card-cover { background-color: rgba(0, 0, 0, 0.2); }

.section-work__card-cover-icon { -webkit-box-flex: 0; -ms-flex: none; flex: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50px; height: 50px; border-radius: 50%; background-color: #f5f5f5; background-image: url("/assets/images/icon-plus-small-black.svg"); background-repeat: no-repeat; background-position: center; background-size: 10px 10px; opacity: 0; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }

.section-work__card-link:hover .section-work__card-cover-icon { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.section-work__more-view-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 60px; }

.section-work__more-view { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 8px; column-gap: 8px; min-height: 50px; padding: 0 30px; overflow: hidden; white-space: nowrap; border-radius: 50px; }

.section-work__more-view:hover .section-work__more-view-text-wrap { -webkit-transform: translateY(-100%); transform: translateY(-100%); }

.section-work__more-view:hover .section-work__more-view-bg { -webkit-transform: scale(0.95); transform: scale(0.95); }

.section-work__more-view-inner { position: relative; z-index: 1; overflow: hidden; }

.section-work__more-view-text-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 8px; column-gap: 8px; -webkit-transform: translate(0); transform: translate(0); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-work__more-view-text-wrap[aria-hidden="true"] { position: absolute; top: 100%; left: 0; }

.section-work__more-view-icon { width: 0.8em; height: 0.8em; }

.section-work__more-view-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: inherit; background-color: #1f1f1f; -webkit-transform: scale3d(1none, 1none, 1none); transform: scale3d(1none, 1none, 1none); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-interview { padding-top: 150px; }

.section-interview .common-inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.section-interview__video { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 70vw; max-height: 90vh; overflow: hidden; padding-bottom: 15px; border-radius: 16px; }

.section-interview__video-iframe { position: absolute; top: -400%; left: 0; right: 0; bottom: -400%; z-index: 1; width: 100%; height: 900%; }

.section-interview-thumbnail { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.section-interview-thumbnail img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.section-interview .common-paragraph { padding-top: 150px; }

.section-detail { padding-top: 150px; }

.section-detail__sticky-area { position: relative; height: 700svh; }

.section-detail__sticky { position: relative; }

.section-detail__item { position: relative; z-index: 1; width: 100%; height: 120svh; overflow: hidden; -webkit-transition: all 1s cubic-bezier(0.602, 0.001, 0.175, 1); transition: all 1s cubic-bezier(0.602, 0.001, 0.175, 1); }

.section-detail__link { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: default; background-color: #1f1f1f; -webkit-transition: -webkit-transform 1s cubic-bezier(0.602, 0.001, 0.175, 1); transition: -webkit-transform 1s cubic-bezier(0.602, 0.001, 0.175, 1); transition: transform 1s cubic-bezier(0.602, 0.001, 0.175, 1); transition: transform 1s cubic-bezier(0.602, 0.001, 0.175, 1), -webkit-transform 1s cubic-bezier(0.602, 0.001, 0.175, 1); }

.section-detail__content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-transition: all 1s cubic-bezier(0.602, 0.001, 0.175, 1); transition: all 1s cubic-bezier(0.602, 0.001, 0.175, 1); }

.section-detail__content .common-inner { z-index: 1; width: 100%; padding-bottom: 120px; cursor: pointer; }

.section-detail__content .common-inner:hover .common-scroll-move__text-wrap { text-stroke: 1px rgba(255, 255, 255, 0.96); -webkit-text-stroke: 1px rgba(255, 255, 255, 0.96); color: transparent; }

.section-detail__content .common-inner:hover + .section-detail__thumbnail img { -webkit-transform: scale(1.1); transform: scale(1.1); }

.section-detail__title { margin-bottom: 2vw; font-size: 22px; font-weight: 500; line-height: 1; letter-spacing: -.03em; }

.section-detail .common-scroll-move__text-wrap { -webkit-animation-duration: calc(1s* 42.43926666666667); animation-duration: calc(1s* 42.43926666666667); }

.section-detail__thumbnail { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.section-detail__thumbnail img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 0%; object-position: 50% 0%; -webkit-transform: scale3d(1none, 1none, 1none); transform: scale3d(1none, 1none, 1none); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-detail__progressbar { position: absolute; bottom: 0; left: 0; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-column-gap: 20px; column-gap: 20px; width: 100%; max-width: 1880px; padding: 0 60px 60px; }

.section-detail__progressbar-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 2px; overflow: hidden; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px; }

.section-detail__progressbar-fill { width: 0; height: 100%; background-color: rgba(255, 255, 255, 0.96); opacity: 0; -webkit-transition: opacity .5s; transition: opacity .5s; }

.section-partner { padding-top: 150px; }

.section-partner__title { width: 540px; font-size: 50px; font-weight: 500; line-height: 1; letter-spacing: -.04em; }

.section-partner__card-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 10px; padding-top: 30px; }

.section-partner__card-item { width: calc((100% - 50px)/ 6); }

.section-partner__card-link { display: block; border-radius: 4px; background-color: #1f1f1f; -webkit-transition: opacity .4s; transition: opacity .4s; }

.section-partner__card-list:hover .section-partner__card-link { opacity: .2; }

.section-partner__card-list .section-partner__card-link:hover { opacity: 1; }

.section-partner__card-link img { aspect-ratio: 3 / 2; mix-blend-mode: lighten; -o-object-fit: contain; object-fit: contain; }

.section-testimonials { padding-top: 150px; }

.section-testimonials__content { height: 100vh; max-height: 1000px; border-radius: 16px; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; overflow: hidden; }

.section-testimonials__video-list { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.section-testimonials__video-item { position: absolute; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; padding: 60px; overflow: hidden; -webkit-transition: opacity .5s; transition: opacity .5s; }

.section-testimonials__video { position: absolute; top: -400%; left: 0; right: 0; bottom: -400%; width: 100%; height: 900%; background-color: #1f1f1f; }

.section-testimonials__video-text { position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; max-width: 550px; }

.section-testimonials__video-description-wrap { font-size: 50px; font-weight: 500; line-height: 1; letter-spacing: -.05em; }

.section-testimonials__video-description { display: inline-block; margin: -0.15em -0.5em; vertical-align: top; }

.section-testimonials__video-description span { padding: 0.15em 0.5em; display: inline-block; -webkit-transition-duration: 0s; transition-duration: 0s; -webkit-transition-delay: 0.5s; transition-delay: 0.5s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; }

.section-testimonials__video-title-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 30px; }

.section-testimonials__video-title { font-size: 24px; }

.section-testimonials__video-title--job { opacity: .35; }

.section-testimonials__video-title + .section-testimonials__video-title { margin-left: 5px; }

.section-testimonials__video-title-inner { display: inline-block; margin: -0.15em -0.5em; vertical-align: top; }

.section-testimonials__video-title-inner span { padding: 0.15em 0.5em; display: inline-block; -webkit-transition-duration: 0s; transition-duration: 0s; -webkit-transition-delay: 0.5s; transition-delay: 0.5s; -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; }

.section-testimonials__indicator { position: absolute; bottom: 0; left: 0; z-index: 1; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 60px 60px; }

.section-testimonials__indicator-item { overflow: hidden; border-radius: 16px; opacity: .2; -webkit-transition: all .2s; transition: all .2s; }

.section-testimonials__indicator-item:hover { opacity: 1; }

.section-testimonials__indicator-item.is-active { opacity: 1; -webkit-backdrop-filter: brightness(150%) blur(30px); backdrop-filter: brightness(150%) blur(30px); background-color: rgba(99, 99, 99, 0.25); }

.section-testimonials__indicator-item-inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 15px 30px 15px 24px; }

.section-testimonials__indicator-thumbnail { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 62px; height: 62px; margin-right: 10px; padding: 6px; }

.section-testimonials__indicator-thumbnail img { display: block; border-radius: 50%; }

.section-testimonials__indicator-progressbar { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; }

.section-testimonials__indicator-description { opacity: .4; }

.section-news { padding-top: 150px; }

.section-news__card-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-column-gap: 10px; column-gap: 10px; padding-top: 30px; }

.section-news__card-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.section-news__card-link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; height: 100%; overflow: hidden; border-radius: 4px; background-color: #1f1f1f; -webkit-transition: background-color .6s; transition: background-color .6s; }

.section-news__card-link:hover { background-color: #292929; }

.section-news__card-thumbnail { position: relative; width: 100%; overflow: hidden; padding-top: 65%; background-color: rgba(255, 255, 255, 0.12); }

.section-news__card-thumbnail img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transform: scale3d(1none, 1none, 1none); transform: scale3d(1none, 1none, 1none); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-news__card-link:hover .section-news__card-thumbnail img { -webkit-transform: scale(1.05); transform: scale(1.05); }

.section-news__card-text { position: relative; z-index: 1; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 20px; background-color: #1f1f1f; }

.section-news__card-text::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 20px; background-color: #1f1f1f; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-news__card-link:hover .section-news__card-text::before { -webkit-transform: translateY(-20px); transform: translateY(-20px); }

.section-news__card-title-area { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 80%; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-news__card-link:hover .section-news__card-title-area { -webkit-transform: translateY(-20px); transform: translateY(-20px); }

.section-news__card-title { padding-top: 4px; font-size: 26px; font-weight: 500; line-height: 1; letter-spacing: -.03em; }

.section-news__card-sub-title { font-size: 14px; font-weight: 400; line-height: 1.2; color: #9d9d9d; }

.section-news__card-info-area { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 4px; column-gap: 4px; padding-top: 40px; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.section-news__card-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 4px; column-gap: 4px; border-radius: 50px; padding: 6px 14px 6px 10px; background-color: rgba(255, 255, 255, 0.12); }

.section-news__card-info-thumbnail { width: 18px; height: 18px; overflow: hidden; border-radius: 50px; background-color: rgba(255, 255, 255, 0.12); }

.section-news__card-info-icon { position: relative; bottom: 1px; }

.section-news__card-info-icon svg { width: 11px; height: 11px; }

.section-news__card-info-title { font-size: 12px; }
