.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index--loading;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  box-shadow: 0 2px 100px 20px rgba(0, 0, 0, .2);
  cursor: wait;
  pointer-events: none;

  &__count {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $color-white;
    white-space: nowrap;
    letter-spacing: -.05em;
  }
}

.scroll-content {
  background-color: $color-primary;
}

section {
  &:nth-child(n+3) {
    @include common-section-gap;
  }
}

.main {
  position: relative;
  z-index: 1;
  padding-bottom: $gap-desktop;
  box-shadow: 0 2px 100px 20px rgba(0, 0, 0, .2);
  background-color: $color-black;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;

  @include tablet {
    padding-bottom: $gap-tablet;
  }

  @include mobile {
    padding-bottom: $gap-mobile;
  }
}

.section-visual {
  position: relative;
  height: 200svh;

  &__sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      object-fit: cover;

      &.is-visible {
        opacity: 1;
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    height: 100svh;

    .common-inner {
      width: 100%;
      padding-bottom: $gutter-desktop;

      @include tablet {
        padding-bottom: $gutter-tablet;
      }
    }

    .marquee__texts {
      animation-duration: 17s;

      &:nth-child(2) {
        .char {
          transform: translateY(110%);
        }
      }
    }
  }

  .slogan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;

    &__title {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.03em;
    }
  }
}

.section-story {
  position: relative;

  .section-visual+& {
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 300px;
      background-image: linear-gradient(to bottom, transparent, $color-black);
    }
  }

  &__title {
    display: inline-block;
    margin-right: 8em;
    font-size: 16px;
    line-height: 1;

    @include mobile {
      margin-right: 4em;
    }
  }

  &__description {
    display: inline;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.015em;

    @include tablet {
      font-size: 40px;
    }

    @include mobile-small {
      font-size: 30px;
    }
  }
}

.section-work {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile-small {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &:last-child {
      display: none;

      @media screen and (min-width: 480px) and (max-width: 991px) {
        display: block;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
  }

  &__thumbnail {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 149%;
    border-radius: $border-radius--card;
    border: 1px solid $color-black;
    background-color: $color-white--transparent-large;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s,
        transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

      @include hover {
        .section-work__link:hover & {
          transform: scale(1.05);
        }
      }
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include hover {
      .section-work__link:hover & {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    background-image: url("../images/icon-plus-small-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    opacity: 0;
    transform: scale(0.8) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include hover {
      .section-work__link:hover & {
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }
    }
  }

  &__more-view {
    display: flex;
    justify-content: center;
    padding-top: $gutter-desktop;

    &.is-visible .more-view {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .more-view {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    min-height: 50px;
    padding: 0 30px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50px;
    transform: translateY(110%);
    opacity: 0;
    transition: transform 1s cubic-bezier(.23, 1, .32, 1), opacity 1s cubic-bezier(.23, 1, .32, 1);

    @include hover {
      &:hover {
        .more-view__texts {
          transform: translateY(-100%);
        }

        .more-view__cover {
          transform: scale(0.95);
        }
      }
    }

    &__inner {
      position: relative;
      z-index: 1;
      overflow: hidden;
    }

    &__texts {
      display: flex;
      align-items: center;
      column-gap: 8px;
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

      &[aria-hidden="true"] {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }

    &__icon {
      width: 0.8em;
      height: 0.8em;
    }

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: $color-primary;
      transform: scale3d(1none, 1none, 1none);
      transform-style: preserve-3d;
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.section-interview {
  &__video {
    position: relative;
    height: 70vw;
    max-height: 90vh;
    overflow: hidden;
    border-radius: $border-radius--video;

    @include tablet {
      height: 110vw;
    }

    @include mobile {
      border-radius: 0;
      height: 120vw;
      margin: 0 -#{$gutter-tablet};
    }

    @include mobile-small {
      height: 170vw;
      max-height: none;
      margin: 0 -#{$gutter-mobile};
    }
  }

  &__asset {
    position: relative;
    width: 100%;
    height: inherit;
  }

  &__embedded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: $color-primary;

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.section-expertise {
  &__inner {
    position: relative;
    height: 700svh;
  }

  &__sticky {
    position: sticky;
    top: 0;
    height: 120svh;

    .swiper {
      height: 100%;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: $color-primary;
  }

  &__textbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    pointer-events: none;

    @include hover {
      &:hover {
        .marquee__texts {
          text-stroke: 1px $color-white--transparent-small;
          -webkit-text-stroke: 1px $color-white--transparent-small;
          color: transparent;
        }

        &+.section-expertise__thumbnail img {
          transform: scale(1.1);
        }
      }
    }

    .common-inner {
      width: 100%;
      padding-bottom: 120px;
      pointer-events: auto;
      cursor: pointer;

      @include tablet {
        padding-left: $gutter-tablet;
        padding-right: $gutter-tablet;
      }

      @include mobile {
        padding: 0 20px 80px;
      }

      @include mobile-small {
        padding: 0 $gutter-mobile 60px;
      }
    }
  }

  &__title {
    margin-bottom: 2vw;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
  }

  .marquee__texts {
    animation-duration: 47s;

    @include mobile {
      animation-duration: 25s;
    }
  }

  .swiper-slide-active {
    .marquee__texts {
      @media screen and (min-width: 768px) {
        animation-play-state: paused;
      }
    }
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
      transform: scale3d(1none, 1none, 1none);
      transform-style: preserve-3d;
      transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    }
  }

  &__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20svh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .01), #000);
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20svh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 $gutter-desktop $gutter-desktop;
    pointer-events: none;

    @include mobile {
      padding: 0 $gutter-tablet $gutter-tablet;
    }

    @include mobile-small {
      padding: 0 $gutter-mobile $gutter-mobile;
    }
  }

  @at-root .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    max-width: 1880px;
    margin: 0 auto;

    @include mobile-small {
      column-gap: 10px;
    }

    &__column {
      flex: 1;
      height: 2px;
      overflow: hidden;
      background-color: $color-white--transparent-medium;
      border-radius: 10px;
    }

    &__fill {
      display: block;
      width: 0;
      height: 100%;
      background-color: $color-white--transparent-small;
      transition: opacity .5s;

      .is-complete & {
        opacity: 0;
      }
    }
  }
}

.section-partner {
  &__title {
    width: 540px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.04em;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    padding-top: 30px;

    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile-small {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    transition: opacity .4s;

    @media (hover: hover) and (pointer: fine) {
      .section-partner__list:hover & {
        opacity: .2;
      }

      .section-partner__list & {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    display: block;
    border-radius: $border-radius--card;
    background-color: $color-primary;

    img {
      aspect-ratio: 3 / 2;
      mix-blend-mode: lighten;
      object-fit: contain;
    }
  }
}

.section-testimonial {
  &__video {
    position: relative;
    display: flex;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    border-radius: $border-radius--video;
    background-color: $color-primary;

    @include mobile {
      flex-direction: column;
      height: auto;
      max-height: none;
    }
  }

  .swiper {
    width: 100%;
  }

  &__list {
    @include mobile {
      position: static;
      width: 100%;
      height: 100vw;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $gutter-desktop;
    pointer-events: none;

    @include tablet {
      padding: $gutter-tablet;
    }

    @include mobile {
      justify-content: flex-end;
    }

    @include mobile-small {
      display: none;
    }
  }

  &__row {
    max-width: 550px;

    &--information {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 5px;
      padding-top: 30px;

      @include mobile {
        padding-top: 14px;
      }
    }
  }

  &__headline {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.05em;

    @include tablet {
      font-size: 45px;
    }

    @include mobile {
      font-size: 35px;
      line-height: 1.1;
    }
  }

  &__name {
    font-size: 24px;

    @include mobile {
      font-size: 18px;
    }

    &+& {
      opacity: .35;
    }
  }

  &__embedded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include mobile {
      height: 100vw;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 $gutter-desktop $gutter-desktop;
    overflow-x: auto;
    scrollbar-width: none;

    @include mobile {
      position: static;
      padding: $gutter-tablet;
      background-color: $color-primary;
    }

    @include mobile-small {
      display: none;
    }
  }

  @at-root .indicator {
    display: flex;

    &__button {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: auto;
      height: auto;
      padding: 15px 30px 15px 24px;
      margin: 0 !important;
      overflow: hidden;
      border-radius: 16px;
      background-color: transparent;
      opacity: .2;
      transition: opacity .2s;

      @include hover {
        &:hover {
          opacity: 1;
        }
      }

      &.swiper-pagination-bullet-active {
        opacity: 1;
        backdrop-filter: brightness(150%) blur(30px);
        background-color: rgba(99, 99, 99, .25);
      }
    }

    &__thumbnail {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      margin-right: 10px;
      padding: 6px;

      img {
        display: block;
        border-radius: 50%;
      }
    }

    &__progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &__circle {
      fill: none;
      stroke-width: 1;

      &--bar {
        stroke: $color-white--transparent-medium;
      }

      &--fill {
        position: absolute;
        top: 0;
        left: 0;
        stroke: $color-white;
        stroke-dasharray: 188.4;
        stroke-dashoffset: 188.4;
        animation-duration: 3.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        .swiper-pagination-bullet-active & {
          animation-name: progress-fill;
        }
      }

      @keyframes progress-fill {
        100% {
          stroke-dashoffset: 0;
        }
      }
    }

    &__information {
      opacity: .4;
    }
  }
}

.section-news {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;

    @include mobile-small {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__more-view {
    flex-shrink: 0;
  }

  .more-view {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 500;
    transition: transform 1.5s cubic-bezier(.165, .84, .44, 1);

    &__texts {
      position: relative;
      display: flex;
      overflow: hidden;
    }

    &__text {
      position: relative;
      transition: opacity .6s cubic-bezier(.25, .74, .22, .99), transform .6s cubic-bezier(.25, .74, .22, .99);

      &[aria-hidden="true"] {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }

    @include hover {
      &:hover {
        .more-view__text {
          transform: translateY(-100%);
          opacity: 0.75;
        }
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $color-white--transparent-medium;

      svg {
        width: 6px;
        height: 6px;
      }
    }
  }

  $card-gap: 10px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $card-gap;
    padding-top: 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    width: calc((100% - (#{$card-gap} * 2)) / 3);

    @include mobile {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    border-radius: $border-radius--card;
    background-color: $color-primary;
    transition: background-color .6s;

    @media (hover: hover) and (min-width: 768px) {
      &:hover {
        background-color: #292929;
      }
    }

    @include mobile {
      flex-direction: row-reverse;
      min-height: 130px;
    }

    @include mobile-small {
      min-height: 110px;
    }
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 65%;
    background-color: $color-white--transparent-large;

    @include mobile {
      width: 250px;
      max-width: 35%;
      padding-top: 0;
    }

    @include mobile-small {
      max-width: 32%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale3d(1none, 1none, 1none);
      transform-style: preserve-3d;
      transition: transform .6s cubic-bezier(.165, .84, .44, 1);

      @media (hover: hover) and (min-width: 768px) {
        .section-news__link:hover & {
          transform: scale(1.05);
        }
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $color-primary;

    @include mobile {
      padding-top: 3px;
      padding-bottom: 30px;
    }

    @include mobile-small {
      padding: 16px 30px 16px 16px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: $color-primary;
      transition: transform .6s cubic-bezier(.165, .84, .44, 1);

      @media (hover: hover) and (min-width: 768px) {
        .section-news__link:hover & {
          transform: translateY(-20px);
        }
      }
    }
  }

  &__row {
    &--headline {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 80%;
      transition: transform .6s cubic-bezier(.165, .84, .44, 1);

      @media (hover: hover) and (min-width: 768px) {
        .section-news__link:hover & {
          transform: translateY(-20px);
        }
      }

      @include tablet {
        width: 100%;
      }

      @include mobile {
        justify-content: center;
      }

      @include mobile-small {
        width: 100%;
      }
    }

    &--information {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px;
      padding-top: 40px;
      transition: transform .6s cubic-bezier(.165, .84, .44, 1);

      @include mobile {
        display: none;
      }
    }
  }

  &__category {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-gray;
  }

  &__headline {
    padding-top: 4px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.03em;

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 22px;
    }

    @include mobile-small {
      font-size: 18px;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    column-gap: 4px;
    border-radius: 50px;
    padding: 6px 14px 6px 10px;
    background-color: $color-white--transparent-large;
  }

  &__profile {
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 50px;
    background-color: $color-white--transparent-large;
  }

  &__icon {
    position: relative;
    bottom: 1px;

    svg {
      width: 11px;
      height: 11px;
    }
  }

  &__text {
    font-size: 12px;
  }
}