.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index--loading;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  box-shadow: 0 2px 100px 20px rgba(0,0,0,.2);
  pointer-events: none;
  transition: opacity .3s;
  &.is-invisible {
    opacity: 0;
  }
  &__count {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $color-white;
    white-space: nowrap;
    letter-spacing: -.05em;
  }
}
section {
  &:nth-child(n+3) {
    @include common-section-gap;
  }
}
.main {
  padding-bottom: $gap-desktop;
  // border-radius: 20.0078px;
  // overflow: hidden;
  @include tablet {
    padding-bottom: $gap-tablet;
  }
  @include mobile {
    padding-bottom: $gap-mobile;
  }
}
.section-visual {
  position: relative;
  height: 200svh;
  &__sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // canvas {
    //   position: relative;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      object-fit: cover;
      &.on {
        opacity: 1;
      }
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    height: 100svh;
    .common-inner {
      width: 100%;
      padding-bottom: $gutter-desktop;
      @include tablet {
        padding-bottom: $gutter-tablet;
      }
    }
    .marquee__texts {
      &:nth-child(2) {
        .char {
          transform: translateY(110%);
        }
      }
    }
  }
  @at-root .slogan {
    &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vw;
    }
    &__item {
      margin: -0.15em -0.5em;
    }
    &__title {
      display: block;
      padding: 0.15em 0.5em;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.03em;
    }
  }
}
.section-story {
  &__title {
    display: inline-block;
    margin-right: 8em;
    font-size: 16px;
    line-height: 1;
    @include mobile {
      margin-right: 4em;
    }
  }
  &__description {
    display: inline;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.015em;
    @include tablet {
      font-size: 40px;
    }
    @include mobile-small {
      font-size: 30px;
    }
  }
}
.section-work {
  $card-gap: 16px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $card-gap;
  }
  &__item {
    width: calc((100% - (#{$card-gap} * 3)) / 4);
    @include tablet {
      width: calc((100% - (#{$card-gap} * 2)) / 3);
    }
    @include mobile-small {
      width: calc((100% - #{$card-gap}) / 2);
    }
    &:last-child {
      display: none;
      @media screen and (min-width: 480px) and (max-width: 991px) {
        display: block;
      }
    }
  }
  &__link {
    position: relative;
    display: block;
  }
  &__thumbnail {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 149%;
    border-radius: $border-radius--card;
    border: 1px solid $color-black;
    background-color: $color-white--transparent-large;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s,
      transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      .section-work__link:hover & {
        transform: scale(1.05);
      }
    }
  }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    .section-work__link:hover & {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &__icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    background-image: url("../images/icon-plus-small-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    opacity: 0;
    transform: scale(0.8) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    .section-work__link:hover & {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
  &__more-view {
    display: flex;
    justify-content: center;
    padding-top: $gutter-desktop;
  }
  .more-view {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    min-height: 50px;
    padding: 0 30px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 50px;
    &:hover {
      .more-view__texts {
        transform: translateY(-100%);
      }
      .more-view__cover {
        transform: scale(0.95);
      }
    }
    &__inner {
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    &__texts {
      display: flex;
      align-items: center;
      column-gap: 8px;
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      &[aria-hidden="true"] {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    &__icon {
      width: 0.8em;
      height: 0.8em;
    }
    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: $color-primary;
      transform: scale3d(1none, 1none, 1none);
      transform-style: preserve-3d;
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}
.section-interview {
  &__video {
    position: relative;
    height: 70vw;
    max-height: 90vh;
    border-radius: $border-radius--video;
    overflow: hidden;
    background-color: $color-primary;
    @include tablet {
      height: 110vw;
    }
    @include mobile {
      border-radius: 0;
    }
    @include mobile-small {
      height: 170vw;
      max-height: none;
      margin: 0 -#{$gutter-mobile};
    }
  }
  &__embedded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.section-detail {
  &__inner {
    position: relative;
    height: 700svh;
  }
  &__sticky {
    // position: relative;
    position: sticky;
    top: 0;
    height: 100vh;
    // height: 100svh;
    .swiper {
      height: 100%;
      pointer-events: none;
      &-slide {
        overflow: hidden;
      }
    }
  }
  &__item {
    position: relative;
    // z-index: 1;
    width: 100%;
    height: 100%;
    // height: 120svh;
    overflow: hidden;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: $color-primary;
    // pointer-events: auto;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 1s cubic-bezier(.602,.001,.175,1);
    .common-inner {
      z-index: 1;
      width: 100%;
      padding-bottom: 120px;
      cursor: pointer;
      &:hover {
        .marquee__texts {
          text-stroke: 1px $color-white--transparent-small;
          -webkit-text-stroke: 1px $color-white--transparent-small;
          color: transparent;
        }
        & + .section-detail__thumbnail img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__title {
    margin-bottom: 2vw;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.03em;
  }
  .marquee__texts {
    animation-duration: calc(1s* 42.43926666666667);
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
      transform: scale3d(1none, 1none, 1none);
      transform-style: preserve-3d;
      transition: transform .6s cubic-bezier(.165,.84,.44,1);
    }
  }
  &__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20svh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .01), #000);
  }
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // z-index: 1;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 $gutter-desktop $gutter-desktop;
    pointer-events: none;
    @include mobile {
      padding: 0 $gutter-tablet $gutter-tablet;
    }
    @include mobile-small {
      padding: 0 $gutter-mobile $gutter-mobile;
    }
  }
  @at-root .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    max-width: 1880px;
    &__column {
      flex: 1;
      height: 2px;
      overflow: hidden;
      background-color: $color-white--transparent-medium;
      border-radius: 10px;
    }
    &__fill {
      display: block;
      width: 0;
      height: 100%;
      background-color: $color-white--transparent-small;
      // opacity: 0;
      // transition: opacity .5s;
    }
  }
}
.section-partner {
  &__title {
    width: 540px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.04em;
  }
  &__list {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-columns: minmax(260px, 1fr);
    align-content: flex-start;
    padding-top: 30px;
    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-columns: minmax(200px, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mobile-small {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__link {
    display: block;
    border-radius: $border-radius--card;
    background-color: $color-primary;
    transition: opacity .4s;
    .section-partner__list:hover & {
      opacity: .2;
    }
    .section-partner__list & {
      &:hover {
        opacity: 1;
      }
    }
    img {
      aspect-ratio: 3 / 2;
      mix-blend-mode: lighten;
      object-fit: contain;
    }
  }
}
.section-testimonials {
  &__content {
    position: relative;
    display: flex;
    height: 100vh;
    max-height: 1000px;
    border-radius: $border-radius--video;
    overflow: hidden;
    @include mobile {
      flex-direction: column;
      height: auto;
      max-height: none;
    }
  }
  .swiper {
    width: 100%;
  }
  &__list {
    background-color: $color-primary;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    @include mobile {
      position: static;
      width: 100%;
      height: 100vw;
    }
  }
  &__item {
    // padding: $gutter-desktop;
    @include tablet {
      // padding: $gutter-tablet;
    }
    @include mobile {
      // padding-bottom: 0;
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: $gutter-desktop;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    @include tablet {
      left: $gutter-tablet;
    }
    @include mobile {
      top: auto;
      bottom: $gutter-mobile;
      left: $gutter-mobile;
      transform: translateY(0);
      max-width: 400px;
    }
    @include mobile-small {
      display: none;
    }
  }
  &__headline {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.05em;
    @include tablet {
      font-size: 45px;
    }
    @include mobile {
      font-size: 35px;
      line-height: 1.1;
    }
  }
  &__row {
    &--information {
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding-top: 30px;
      @include mobile {
        padding-top: 14px;
      }
    }
  }
  &__name {
    font-size: 24px;
    @include mobile {
      font-size: 18px;
    }
    & + & {
      opacity: .35;
    }
  }
  .letter-wrapper {
    display: inline-block;
    margin: -0.15em -0.5em;
    vertical-align: top;
    overflow: hidden;
    span {
      display: inline-block;
      padding: 0.15em 0.5em;
    }
  }
  &__video {
    position: relative;
    height: 100%;
    // position: absolute;
    // top: 0;
    // left: -100%;
    // right: -100%;
    // width: 300%;
    // height: 100%;
    // @media screen and (min-width: 1582px) {
    //   top: -400%;
    //   bottom: -400%;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 900%;
    // }
    video, img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 $gutter-desktop $gutter-desktop;
    overflow-x: auto;
    scrollbar-width: none;
    @include mobile {
      position: static;
      padding: $gutter-tablet;
      background-color: $color-primary;
    }
  }
  @at-root .indicator {
    display: flex;
    &__button {
      flex-shrink: 0;
      display:flex;
      align-items: center;
      padding: 15px 30px 15px 24px;
      overflow: hidden;
      border-radius: 16px;
      opacity: .2;
      transition: all .2s;
      &:hover {
        opacity: 1;
      }
      &.is-active {
        opacity: 1;
        backdrop-filter: brightness(150%) blur(30px);
        background-color: rgba(99, 99, 99, .25);
      }
    }
    &__thumbnail {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      margin-right: 10px;
      padding: 6px;
      img {
        display: block;
        border-radius: 50%;
      }
    }
    &__progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &__description {
      opacity: .4;
    }
  }
}
.section-news {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    @include mobile-small {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
  &__more-view {
    flex-shrink: 0;
  }
  .more-view {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 500;
    transition: transform 1.5s cubic-bezier(.165,.84,.44,1);
    &__texts {
      position: relative;
      display: flex;
      overflow: hidden;
    }
    &__text {
      position: relative;
      transition: opacity .6s cubic-bezier(.25,.74,.22,.99), transform .6s cubic-bezier(.25,.74,.22,.99);
      &[aria-hidden="true"] {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    &:hover {
      .more-view__text {
        transform: translateY(-100%);
        opacity: 0.75;
      }
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $color-white--transparent-medium;
      svg {
        width: 6px;
        height: 6px;
      }
    }
  }
  $card-gap: 10px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $card-gap;
    padding-top: 30px;
    @include mobile {
      flex-direction: column;
    }
  }
  &__item {
    width: calc((100% - (#{$card-gap} * 2)) / 3);
    @include mobile {
      width: 100%;
    }
  }
  &__link {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    border-radius: $border-radius--card;
    background-color: $color-primary;
    transition: background-color .6s;
    @media (hover: hover) and (min-width: 768px) {
      &:hover {
        background-color: #292929;
      }
    }
    @include mobile {
      flex-direction: row-reverse;
      min-height: 130px;
    }
    @include mobile-small {
      min-height: 110px;
    }
  }
  &__thumbnail {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 65%;
    background-color: $color-white--transparent-large;
    @include mobile {
      width: 250px;
      max-width: 35%;
      padding-top: 0;
    }
    @include mobile-small {
      max-width: 32%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale3d(1none, 1none, 1none);
      transform-style: preserve-3d;
      transition: transform .6s cubic-bezier(.165,.84,.44,1);
      @media (hover: hover) and (min-width: 768px) {
        .section-news__link:hover & {
          transform: scale(1.05);
        }
      }
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $color-primary;
    @include mobile {
      padding-top: 3px;
      padding-bottom: 30px;
    }
    @include mobile-small {
      padding: 16px 30px 16px 16px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: $color-primary;
      transition: transform .6s cubic-bezier(.165,.84,.44,1);
      @media (hover: hover) and (min-width: 768px) {
        .section-news__link:hover & {
          transform: translateY(-20px);
        }
      }
    }
  }
  &__row {
    &--headline {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 80%;
      transition: transform .6s cubic-bezier(.165,.84,.44,1);
      @media (hover: hover) and (min-width: 768px) {
        .section-news__link:hover & {
          transform: translateY(-20px);
        }
      }
      @include tablet {
        width: 100%;
      }
      @include mobile {
        justify-content: center;
      }
      @include mobile-small {
        width: 100%;
      }
    }
    &--information {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px;
      padding-top: 40px;
      transition: transform .6s cubic-bezier(.165,.84,.44,1);
      @include mobile {
        display: none;
      }
    }
  }
  &__category {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-gray;
  }
  &__headline {
    padding-top: 4px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.03em;
    @include tablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 22px;
    }
    @include mobile-small {
      font-size: 18px;
    }
  }
  &__column {
    display: flex;
    align-items: center;
    column-gap: 4px;
    border-radius: 50px;
    padding: 6px 14px 6px 10px;
    background-color: $color-white--transparent-large;
  }
  &__profile {
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 50px;
    background-color: $color-white--transparent-large;
  }
  &__icon {
    position: relative;
    bottom: 1px;
    svg {
      width: 11px;
      height: 11px;
    }
  }
  &__text {
    font-size: 12px;
  }
}