// common
.common-paragraph {
  &__title {
    display: inline-block;
    margin-right: 8em;
    font-size: 16px;
    line-height: 1;
  }
  &__description {
    display: inline;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.015em;
  }
}

// section
.section-visual {
  height: 200svh;
  &__canvas {
    &-area {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
    & {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slogan {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    height: 100svh;
    .common-inner {
      width: 100%;
      padding-bottom: 60px;
    }
    &-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto 2vw;
    }
    &-item {
      margin: -0.15em -0.5em;
    }
    &-text {
      display: block;
      padding: 0.15em 0.5em;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.03em;
    }
  }
  &__scroll-move {
    &-container {
      display: flex;
      align-items: center;
    }
    &-wrapper {
      width: 100%;
      transform: translate(416.633px, 0px);
    }
    & {
      flex: none;
      display: flex;
      align-items: center;
      transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
      transition-duration: 7s;
    }
    &-text {
      &-wrap {
        flex: none;
        margin-bottom: -0.05em;
        padding-right: 10vw;
        font-size: 14vw;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.05em;
        white-space: nowrap;
        transform: translate(-100%);
        animation-name: scroll-move;
        animation-duration: calc(1s * 16.3468);
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      & {
        display: inline-block;
        margin: -0.15em -0.5em;
        overflow-y: hidden;
        vertical-align: top;
      }
      &-inner {
        display: inline-block;
        padding: 0.15em 0.5em;
        transform: translateY(0%) scaleY(1);
        transition-duration: 2s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        transition-property: opacity, transform;
      }
    }
  }
}
@for $i from 1 through 4 {
  .section-visual__scroll-move-text:nth-child(#{$i})
    .section-visual__scroll-move-text-inner {
    transition-delay: calc(2.5s / 12 * #{$i - 1});
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  opacity: 0.04;
  pointer-events: none;
  background-image: url("/assets/images/overlay.gif");
  background-size: 480px;
  background-attachment: fixed;
}
@keyframes scroll-move {
  0% {
    transform: translate(-100%, 0px);
  }

  100% {
    transform: translate(-200%, 0px);
  }
}
.section-intro {
  &__title {
    display: inline-block;
    margin-right: 8em;
    font-size: 16px;
    line-height: 1;
  }
  &__description {
    display: inline;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.015em;
  }
}
.section-work {
  padding-top: 150px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__item {
    width: calc((100% - 48px) / 4);
  }
  &__link {
    position: relative;
    display: block;
  }
  &__thumbnail {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 149%;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.12);
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-style: preserve-3d;
      transition: opacity 0.3s,
        transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  .section-work__link:hover {
    .section-work__thumbnail img {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    .section-work__link:hover & {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &-icon {
      flex: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f5f5f5;
      background-image: url("/assets/images/icon-plus-small-black.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px 10px;
      opacity: 0;
      transform: scale(0.8);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      .section-work__link:hover & {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &__more-view {
    &-area {
      display: flex;
      justify-content: center;
      padding-top: 60px;
    }
    & {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      min-height: 50px;
      padding: 0 30px;
      overflow: hidden;
      white-space: nowrap;
      border-radius: 50px;
      &:hover {
        .section-work__more-view-text-wrap {
          transform: translateY(-100%);
        }
        .section-work__more-view-bg {
          transform: scale(0.95);
        }
      }
      &-inner {
        position: relative;
        z-index: 1;
        overflow: hidden;
      }
      &-text {
        &-wrap {
          display: flex;
          align-items: center;
          column-gap: 8px;
          transform: translate(0);
          transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
          &[aria-hidden="true"] {
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
      &-icon {
        width: 0.8em;
        height: 0.8em;
      }
      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: rgb(31, 31, 31);
        transform: scale3d(1none, 1none, 1none);
        transform-style: preserve-3d;
        transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }
}
